<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap_admin.min.css">
</head>

<body>
    <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Admin Panel</h2>
            </div>
        <form action="/create_election">
            </div><button class="btn btn-primary" type="submit">Create Election</button>
        </form>
        <form action="/admin_logout">
            <button class="btn btn-primary" type="submit" style="margin-bottom: 28px;padding-bottom: 0px;margin-top: 14px;">Logout</button>
        </form>
    </div>
    <script src="assets/bootstrap/js/bootstrap_admin.min.js"></script>
</body>

</html>