<!DOCTYPE html>
<html>
<head>
  <title>Image Selection</title>
  <style>
    img {
      width: 200px;
      height: 200px;
    }

    .image-container {
      display: inline-block;
      text-align: center;
    }

    input[type="radio"] {
      margin: 10px;
    }

    #send-button {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Select an Image</h1>
  <form action="/validate_new_test" method="post">
    <div class="image-container">
      <img src=https://img.imgyukle.com/2023/06/23/rcmZvH.jpeg alt="Image 1"><br>
      <a>Person with ID1</a><br>
      <input type="radio" name="image" value="1">
    </div>
    <div class="image-container">
      <img src=https://img.imgyukle.com/2023/06/23/rcm6C1.jpeg alt="Image 2"><br>
      <a>Person with ID2</a><br>
      <input type="radio" name="image" value="2">
    </div>
    <div class="image-container">
      <img src=https://img.imgyukle.com/2023/06/23/rcm9sI.jpeg alt="Image 3"><br>
      <a>Person with ID3</a><br>
      <input type="radio" name="image" value="3">
    </div><br>
    <label for="id">Enter Your ID:</label>
    <input type="text" name="id" id="id"><br>
    <button id="send-button">Send</button>
  </form>
</body>
</html>
