<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
        border: 1px solid;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Candidate Full Name:</th>
        <th>Vote:</th>
    </tr>
    {%for candidate in candidates %}
    <tr>
        <td>{{candidate[2]}}</td>
        <td><a href="/register_vote/{{candidate[0]}}/{{candidate[3]}}/{{candidate[1]}}">Vote</a></td>
    </tr>
    {% endfor %}
</table>
<p>Election: 2023 , Presidental</p>
<p><a href="/">Exit</a></p>
</body>
</html>